.header-container {
  background: linear-gradient(135deg, #D2B48C);
  padding: 40px 20px;
  text-align: center;
  color: rgb(49, 6, 6);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}


.empresa-nombre {
  font-size: 2.8rem;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
}


.subtitulo {
  margin-top: 5px;
  font-size: 1.2rem;
  opacity: 0.9;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .empresa-nombre {
    font-size: 2rem;
  }

  .subtitulo {
    font-size: 1rem;
  }
}
