/* You can add global styles to this file, and also import other style files */
/* Estilo del botón */
.theme-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 12px;
}
/* Contenedor del menú */
.menu-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode .theme-btn {
  background-color: #eee;
  color: #000;
}